{{#each personList as |row|}}
  <div><input type="checkbox" id="{{row.person.id}}" onchange={{action "makeSelection" row}} checked="{{if row.selected 'checked' ''}}">
    <input disabled type="text" id="{{row.person.firstName}}" value="{{row.person.firstName}}">
  </div>
{{/each}}
