<form class="ui form" {{action "createJob" on="submit"}}>
  <div class="five wide field">
    <strong>Job type:</strong>{{input type="text" value=model.jobType}}
  </div>
  <div class="five wide field">
    <strong>Job title:</strong>{{input type="text" value=model.jobTitle}}
  </div>
  <div class="eight wide field">
    <strong>Company name:</strong>{{input type="text" value=model.companyName}}
  </div>
  <div class="eight wide field">
    <strong>Company address:</strong>{{input type="text" value=model.companyAddress}}
  </div>
  <div class="five wide field">
    <strong>Job description:</strong>{{input type="text" value=model.jobDescription}}
  </div>
  <div>
    <button class="ui button" type="submit">Create</button>
  </div>
</form>
