<form class="ui form" {{action "createJob" on="submit"}}>

  <div class="five wide field">
    <strong>Job title:</strong>{{input type="text" value=model.jobTitle id='job-title'}}
  </div>
  <div class="five wide field">
    <strong>Job type:</strong>{{input type="text" value=model.jobType id='job-type'}}
  </div>
  <div class="eight wide field">
    <strong>Company name:</strong>{{input type="text" value=model.companyName id='company-name'}}
  </div>
  <div class="eight wide field">
    <strong>Company address:</strong>{{input type="text" value=model.companyAddress id='company-address'}}
  </div>
  <div class="five wide field">
    <strong>Job description:</strong>{{input type="text" value=model.jobDescription id='job-description'}}
  </div>
  <div>
    <button class="ui button" type="submit" id="submit">Create</button>
  </div>
</form>
