<div class="jumbo show-listing">
  <h2> class="firstName"> {{model.firstName}} {{model.lastName}}</h2>

    <div class="person firstName">
      <strong>First name:</strong>{{model.firstName}}
    </div>
    <div class="person lastName">
      <strong>Last name:</strong>{{model.lastName}}
    </div>
    <div class="address">
      <strong>Address:</strong>{{model.address}}
    </div>
</div>
