<div class="ui form">
  <div class="eight wide field">
  <h2 class="ui block header"> {{model.firstName}} {{model.lastName}}</h2>
  </div>

  <form {{action 'updatePerson' on ='submit'}}>
    <div class="five wide field">
      <strong>First name:</strong>{{input type="text" value= model.firstName id='first-name'}}
    </div>
    <div class="five wide field">
      <strong>Last name:</strong>{{input type="text" value=  model.lastName id= 'last-name'}}
    </div>
    <div class="eight wide field">
      <strong>Address:</strong>{{input type="text" value= model.address id='address'}}
    </div>
    <div class="eight wide field">
      <strong>Job:</strong>{{drop-down model=model jobs=jobs id='job'}}
    </div>
    <div class= "eight wide field">
      <strong>Current job:</strong>{{input type="Null" value= model.job.jobTitle id='job-title'}}
    </div>
    <div>
      <button class="ui button" type="submit" id="submit">Update</button>
      <button class="ui button" onclick={{action "deletePerson"}} id="delete">Delete</button>
    </div>
  </form>
</div>
