<div class="ui form">
  <div class="eight wide field">
  <h2 class="ui block header"> {{model.firstName}} {{model.lastName}}</h2>
  </div>
  <form {{action "editRecruiter" on="submit"}}>

  <div class="five wide field">
    <strong>First name:</strong>{{input type="text" value=model.firstName id='first-name'}}
  </div>
  <div class="five wide field">
    <strong>Last name:</strong>{{input type="text" value=model.lastName id='last-name'}}
  </div>
  <div class="eight wide field">
    <strong>Address:</strong>{{input type="text" value=model.address id='address'}}
  </div>
  <div class= "eight wide field">
    <strong>Person:</strong>{{person-drop-down model=model person=person personList=personList
    action1=(action "makeSelection" selected=selected) id='person-drop-down'}}
  </div>
  <div>
    <button class= "ui button" type= "submit" id="submit">Update</button>
    <button class="ui button" onclick={{action "deleteRecruiter"}} id="delete">Delete</button>
  </div>
</form>
</div>
