<div class="jumbo show-listing">
  <h2 class=firstName> {{model.firstName}} {{model.lastName}}</h2>
<form {{action "editRecruiter" on="submit"}}>

  <div class="recruiter firstName">
    <strong>First name:</strong>{{input type="text" value=model.firstName}}
  </div>
  <div class="recruiter lastName">
    <strong>Last name:</strong>{{input type="text" value=model.lastName}}
  </div>
  <div calss="recruiter address">
    <strong>Address:</strong>{{input type="text" value=model.address}}
  </div>
  <div class= "recruiter person">
    <strong>Person:</strong>{{person-drop-down model=model person=person personList=personList
    action1=(action "makeSelection" selected=selected)}}
  </div>
  <div>
    <button type= "submit">Update</button>
    <button onclick={{action "deleteRecruiter"}}>Delete</button>
  </div>
</form>
</div>
